/* Global */
:root {
  --item-gap: 6px;
}

body {
  width: 100%; 
  height: 100%;
  overflow-y: visible;
}

.aside_container {
  border-left: transparent;
}

.aside_container:hover {
  background-color: transparent;
}



/* WORK BOX */
.main {
  width: 100%; 
  height: 100%;
}

.work_container {
  width: 60%; 
  height: auto;
  margin: 0 auto;
}

.work_box {
  width: 100%; 
  height: 90vw;
  position: relative; 
  margin: 60px auto;
}


/* BOX ITEM */
.work_item {
  position: absolute; 
  top: 0; left: 0;
  padding: var(--item-gap);
  transition: top .6s, left .6s;
}

.large {width: 30vw; height: 30vw;}
.medium_columm {width: 15vw; height: 30vw;}
.medium_row {width: 60vw; height: 15vw;}


.item_bg {
  width: 100%; 
  height: 100%; 
  text-align: center; 
  overflow: hidden;
  -webkit-filter: grayscale(100%);
}

.item_bg img {
  height: 100%;
}

.bg_hover {
  width: 100%; 
  height: 100%;
  display: block; 
  padding: var(--item-gap);
  position: absolute; 
  top: 0; left: 0;
}


.text_wrap {
  width: 100%;
  position: absolute; 
  bottom: -20px; left: 0;
  padding: 30px; 
  opacity: 0;
  color: var(--color-white);
  transition: all 0.4s;
  z-index: 10;
}

.text_wrap h2 {
  font-family: degular-display, sans-serif;
  font-size: 22px; 
  font-weight: 600;
  margin-bottom: calc(var(--item-gap) * 1.5);
}

.text_wrap p {
  font-size: 14px; 
  text-transform: uppercase;
  margin-right: calc(var(--item-gap) * 3);
}

.work_item:hover .text_wrap {
  bottom: 0; opacity: 1;
}
.work_item:hover .item_bg {
  -webkit-filter: grayscale(0%);
}



@media screen and (max-width: 1440px) {
  .work_item {padding: calc(var(--item-gap) / 2);}
  .work_box {margin: 50px auto;}
}

@media screen and (max-width: 1024px) {
  .work_container {width: 86%;}
  .work_box {height: 126vw; margin: 160px auto 20px;}
  .large {width: 42vw; height: 42vw;}
  .medium_columm {width: 21vw; height: 42vw;}
  .medium_row {width: 84vw; height: 21vw;}

}

/* TABLET */
@media screen and (max-width: 768px) {
  /* footer {display: none;} */
}

@media screen and (max-width: 560px) {
  .work_box {height: 440vw;}
  .large {width: 100%; height: 88vw;}
  .medium_columm {width: 50%; height: 88vw;}
  .medium_row {width: 100%; height: 44vw;}
}

/* MOBILE */
/* @media screen and (max-width: 380px) { } */