body {
  overflow: hidden;
}
/* MAIN */
#main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Slide */
.main_section {
  width: 100%; 
  height: 100%;
  position: absolute; 
  top: 0; bottom:0; left: 0; right: 0;
  overflow: hidden;
  transform: translateX(100%);
  will-change: transform;
}

.main_section:first-child {
  transform: translateX(0px);
}

.main_bg {
  width: 100%; 
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-filter: grayscale(100%);
}

.color {
  -webkit-filter: grayscale(0%);
}

.portfolio {
  background-image: url(../images/main_portfolio.png);
}

.drink {
  background-image: url(../images/main_drink.png);
}

.ferrari {
  background-image: url(../images/main_ferrari.png);
}

.gopro {
  background-image: url(../images/main_gopro.png);
}

.auntie_annes {
  background-image: url(../images/main_auntieanns.png);
}


/* MAIN SECTION ANIMATION */
.div_black {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--color-black);
  z-index: 10;
  transform: translateX(100%);
  overflow: hidden;
}

@keyframes showBlackDiv {
  0% {transform: translateX(100%)}
  50% {transform: translateX(0px)}
  60% {transform: translateX(0px)}
  100% {transform: translateX(100%)}
}



/* MAIN TEXT */
.main_text_wrap {
  width: 100%; 
  position: absolute; 
  top: 40%; 
  left: 12%;
  word-break: keep-all;
}

.main_title {
  width: 70%; 
  font-size: 6.8rem;
}

.main_cont {
  width: 45%; 
  font-size: 1.4rem;
  margin-top: 8px;
}

.main_cont.ko {
  font-size: 1.2rem;
}


/* MORE BTN */
.more_btn {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: transparent; 
  padding: 18px 16px 18px 22px;
  margin-top: 42px;
  transition: all var(--transition-duration);
}

.more_btn a {
  display: inline-block; 
  width: 100%; 
  height: 100%; 
  text-align: center;
}

.more_btn h3 {
  font-size: 20px; 
  line-height: 14px; 
  font-weight: 600; 
  text-transform: uppercase;
}

.more_btn:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.3);
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}





/* MEDIA */
@media screen and (max-width: 1440px) {
  .main_title {font-size: 6rem;}
  .main_cont {font-size: 1.2rem;}
  .main_cont.ko {font-size: 1.1rem;}
  .more_btn {margin-top: 0 0 40px;}
}

@media screen and (max-width: 1024px) {
  .main_title {font-size: 5.2rem;}
  .more_btn {margin-top: 0 0 36px;}
}

/* TABLET */
@media screen and (max-width: 768px) {
  body {overflow: auto;}
  #main {height: 100%;}
  .main_section {
    height: 88vh; position: static; 
    top: auto; bottom: auto; left: auto; right: auto;
    transform: translateY(0px);
  }
  .drink {background-image: url(../images/main_drink_mobile.png);}

  .main_text_wrap {top: auto; left: 50px; bottom: 12%; z-index: 10;}
  .main_title {font-size: 3.4rem; margin: 0 0 26px;}
  .main_cont {display: none;}
  
  .more_btn {padding: 14px 10px 14px 18px;}
  .more_btn:hover {transform: scale(1.0);}
  .more_btn h3 {font-size: 16px; line-height: 12px;} 
}

/* MOBILE */
@media screen and (max-width: 380px) {
  .main_section {height: 94vh;}
  .main_text_wrap {left: 46px; bottom: 8%;}
  .main_title {font-size: 2.7rem; margin: 0 0 24px;}
}